<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <img src = "/img/devopsdays-banner.png" class = "img-responsive">
        </div>
      </div>
      <!-- begin navigation -->
      <div class="row">
    		<div class="col-md-8">
          <!-- begin legacy nav -->
          <div id="headermenu">
          <table >
            <tr>
              <td>
                <a href="/"><img alt="home" title="home" src="/images/home.png"></a>
                <a href="/">Home</a>
              </td>
              <td>
                <a href="/contact/"><img alt="contact" title="contact" src="/images/contact.png"></a>
                <a href="/contact/">Contact</a>
              </td>
              <td>
                <a href="/events/"><img alt="events" title="events" src="/images/events.png"></a>
                <a href="/events/">Events</a>
              </td>
              <td>
                <a href="/presentations/"><img alt="presentations" title="presentations" src="/images/presentations.png"></a>
                <a href="/presentations/">Presentations</a>
              </td>
              <td>
                <a href="/blog/"><img alt="blog" title="blog" src="/images/blog.png"></a>
                <a href="/blog/">Blog</a>
              </td>
            </tr>
          </table>
          <!-- end legacy nav -->
          </div>

    		</div>
        <!-- end navigation col -->
        <!-- begin social buttons col -->
    		<div class="col-md-4">
          <a href="/feed"><img width="32px" height="32px" alt="rss" title="rss feed" src="/images/feed.png"></a>
          <a href="{{ .Site.Params.Twitter }}"><img width="32px" height="32px" alt="twitter" title="twitter" src="/images/twitter.png"></a>
          <a href="{{ .Site.Params.Groups }}"><img width="32px" height="32px" alt="mail" title="mailinglist" src="/images/email.png"></a>
          <!-- <a href="{{ .Site.Params.Facebook }}"><img width="32px" height="32px" alt="mail" title="facebook" src="/images/facebook.png"></a> -->
          <a href="{{ .Site.Params.Linkedin }}"><img width="32px" height="32px" alt="mail" title="linkedin" src="/images/linkedin.png"></a>
    		</div>
        <!-- end social buttons col -->
    	</div>
      <!-- end navigation row -->
