{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-8"> <!-- this is the col for the event list and the map. May have responsive issues -->
    <h2>
      Upcoming devopsdays events
    </h2>
    <div class = "event-list-header">
      <div class="container">
        <h3>
        {{ range $.Site.Data.events }}
          {{ if eq .status "current" }}
          {{ $.Scratch.Add "events" "<a href = '/events/" }}
          {{ $.Scratch.Add "events" .friendly }}
          {{ $.Scratch.Add "events" "/welcome'>" }}
          {{ $.Scratch.Add "events" .city }}
          {{ $.Scratch.Add "events" "</a> - " }}
            <!-- <a href = "/events/{{ .friendly }}/welcome">{{ .city }}</a> - -->
          {{ end }}
        {{ end }}
        {{ substr ($.Scratch.Get "events") 0 -3 | safeHTML }}
        </h3>
      </div>
    </div>
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>

    {{ partial "map" . }}
    <!-- end map -->
  </div>
  <div class="col-md-4"> <!-- twitter col -->
    {{ partial "twitter" . }}
  </div>
</div> <!-- end event and twitter row -->
<div class="row">
  <div class="col-md-8">
    {{ partial "past" .}}
  </div>
  <div class="col-md-4 last">
    {{ partial "future" . }}
  </div>
</div>

{{ partial "footer.html" . }}
